# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*

# Build / cache
dist/
build/
*.tsbuildinfo

# Prisma generated (si tu client output está en src/generated/prisma)
src/generated/prisma/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
